body {
  background-color: rgb(0, 0, 0) ;
  font-family: 'Inter', sans-serif;
}



#grad1 {
  height: 500px;
  background-color: rgb(0, 0, 0); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(38, 255, 0));
}

#grad2 {
  height: 500px;
  background-color: rgb(0, 0, 0); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, red, rgb(255, 238, 0));
}

#grad3 {
  height: 450px;
  background-color: rgb(0, 0, 0); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #ff7e5f, #feb47b);
}


header {
  color: rgb(255, 255, 255);
}


footer {
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 20px;
}



.button {
  background-color: #28a745;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}


.horizontal {
  border: none;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50px;
  width: 100%;
  margin: 20px auto;
}


